@charset "utf-8";
body
{
	font-size: 14px;
	margin: 0px;
	text-align: center;
	background-color: #FFFFFF;
	/* Windsor:expression(document.body.onselectstart=document.body.oncontextmenu=function(){return false;}); */

}

td, select
{
	font-size: 9pt;
}

.unline
{
	border-bottom: solid 1px #efefef;
}

a:link
{
	color: #075DB3;
	text-decoration: none;
}
a:visited
{
	color: #075DB3;
	text-decoration: none;
}
a:active
{
	color: orangered;
	text-decoration: underline;
}
a:hover
{
	color: orangered;
	text-decoration: underline;
}

div.cHeader
{
	margin: auto;
	width: 1000px;
	padding: 5px;
	border-right: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: gainsboro 1px solid;
	background-color: whitesmoke;
	
}

div.cH1
{
	width: 1000px;
	text-align: left;

}
div.cH1 span
{
	float:right;
}
div.cH2
{
	clear:right;
}

div.cBody
{
	margin: auto;
	min-height:200px;
}

div.cFooter
{
	margin: auto;
	width: 1000px;
	padding: 5px;
	border-right: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: gainsboro 1px solid;
	background-color: whitesmoke;
}
.value {
	font-size: 14px;
	font-weight: bold;
	background-color: #09F;
	border: 1px outset #D4D0C8;
	height: 25px;
	width: 100px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	color: #FFF;
}


.g{
	text-align:center;
	height:28px;
	clear: both;
	float: none;
	width: 100%;
	margin-bottom: 0px;
}
.g select{
	font-size:14px;
	padding:0;
	display:inline-block;
	vertical-align:top;
	color: #4CCCFF;
	font-weight: bold;
	margin-top: 4px;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 2px;
}
.g a{display:inline-block; margin:0 4px;}
.g a span{display:none;}
.g a.p{background:url(/images/h.png) 0 0px no-repeat; width:127px; height:28px; overflow:hidden;}
.g a.n{background:url(/images/h.png) 0 -34px no-repeat; width:127px; height:28px; overflow:hidden;}



div.cPageChangeHtm
{
	border-bottom: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	background-color: #ffffff;
	border-top: gainsboro 1px solid;
	border-right: gainsboro 1px solid;
	margin-top:3px;
	margin-left:5px;
	margin-right:5px;
	padding:5px;
}

#iPageNo
{
	border-bottom: dimgray 1px solid;
	border-left: dimgray 1px solid;
	border-top: dimgray 1px solid;
	border-right: dimgray 1px solid;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ffffff;
	display: inline-block;
	height: 18px;
	cursor: hand;
}
#iPageHtm
{
	display:none;
}

#spSl
{
	margin: auto;
	width: 1000px;
	text-align:right;
}

#spSl a
{
	display: inline-block;
	width: 70px;
	height: 16px;
	border-bottom: dodgerblue 1px solid;
	border-left: dodgerblue 1px solid;
	border-top: dodgerblue 1px solid;
	border-right: dodgerblue 1px solid;
	text-align:center;
	margin-right:5px;
}

#spSl a:hover
{
	background-color: #ff6600;
	color: #ffffff;
	font-weight: bold;
	border-bottom: #ffffff 1px solid;
	border-left: #ffffff 1px solid;
	border-top: #ffffff 1px solid;
	border-right: #ffffff 1px solid;
}

a.cSLSelected
{
	background-color: #ff6600;
	color: #ffffff;
	font-weight: bold;
	border-bottom: #ffffff 1px solid;
	border-left: #ffffff 1px solid;
	border-top: #ffffff 1px solid;
	border-right: #ffffff 1px solid;
}
