BODY
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 100%;
	padding-right: 0px;
	font: 12px/18px "Lucida Grande" , Lucida, Verdana, sans-serif;
	height: 100%;
	color: black;
	padding-top: 0px;
	background-image: url(/images/bj/bg01.jpg);
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: right 30px;
}
#message {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; FONT: 12px/18px "Lucida Grande", Lucida, Verdana, sans-serif; BACKGROUND: url(/images/message_back.png) black no-repeat center top; HEIGHT: auto; COLOR: white; PADDING-TOP: 0px
}
#message A {
	COLOR: #009bd5
}
#message A:visited {
	COLOR: #009bd5
}
#message A:hover {
	COLOR: #b9e8f9; TEXT-DECORATION: none
}
#message H1 {
	COLOR: white
}
#message .display {
	TEXT-ALIGN: center; MARGIN-TOP: 100px; WIDTH: 600px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
HTML {
	HEIGHT: 100%
}
.tuc {color: #FFCC00; font-weight: bold; }

A:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}

A {
	COLOR: #14445e; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:visited {
	COLOR: #14445e; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:hover {
	COLOR: #009bd5
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 10px
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 18px "Trebuchet MS", Verdana; COLOR: black; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 16px "Trebuchet MS", Verdana; COLOR: black; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 14px "Trebuchet MS", Verdana; COLOR: black; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 12px "Trebuchet MS", Verdana; COLOR: black; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.field {
	BORDER-BOTTOM: #e1e1e1 1px inset; BORDER-LEFT: #e1e1e1 1px inset; PADDING-BOTTOM: 4px; PADDING-LEFT: 22px; WIDTH: 220px; PADDING-RIGHT: 4px; FONT: 11px "Lucida Grande", Lucida, Verdana, sans-serif; MARGIN-BOTTOM: 10px; BACKGROUND: white no-repeat 3px 3px; BORDER-TOP: #e1e1e1 1px inset; BORDER-RIGHT: #e1e1e1 1px inset; PADDING-TOP: 4px
}
.fieldso {
	BORDER-BOTTOM: #e1e1e1 1px inset; BORDER-LEFT: #e1e1e1 1px inset; PADDING-BOTTOM: 4px; PADDING-LEFT: 22px; WIDTH: 220px; PADDING-RIGHT: 4px; FONT: 11px "Lucida Grande", Lucida, Verdana, sans-serif; MARGIN-BOTTOM: 10px; BACKGROUND: white no-repeat 3px 3px; BORDER-TOP: #e1e1e1 1px inset; BORDER-RIGHT: #e1e1e1 1px inset; PADDING-TOP: 4px
}
.select {
	PADDING-BOTTOM: 2px; BORDER-RIGHT-WIDTH: 1px; MARGIN-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-FAMILY: "Lucida Grande", Lucida, Verdana, sans-serif; MARGIN-BOTTOM: 10px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; PADDING-TOP: 2px
}
.textarea {
	BORDER-BOTTOM: #e1e1e1 1px inset; BORDER-LEFT: #e1e1e1 1px inset; PADDING-BOTTOM: 4px; MARGIN-TOP: 2px; PADDING-LEFT: 4px; WIDTH: 432px; PADDING-RIGHT: 4px; FONT: 11px "Lucida Grande", Lucida, Verdana, sans-serif; MARGIN-BOTTOM: 10px; HEIGHT: 260px; BORDER-TOP: #e1e1e1 1px inset; BORDER-RIGHT: #e1e1e1 1px inset; PADDING-TOP: 4px
}
#container {
	WIDTH: 980px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#preload_one {
	BACKGROUND-IMAGE: url(/images/button_remove_from_cart.png); DISPLAY: none
}
#preload_two {
	BACKGROUND-IMAGE: url(/images/button_checkout.png); DISPLAY: none
}
#preload_three {
	BACKGROUND-IMAGE: url(/images/button_checkout_disabled.png); DISPLAY: none
}
#preload_four {
	BACKGROUND-IMAGE: url(/images/icon_remove.png); DISPLAY: none
}
#preload_five {
	BACKGROUND-IMAGE: url(/images/cart_item_fill.png); DISPLAY: none
}
#head {
	WIDTH: 980px; BACKGROUND: url(/images/head_back.png) no-repeat 0px bottom; HEIGHT: 166px
}
#logo {
	BACKGROUND-IMAGE: url(/images/logo_dmeden.png); POSITION: relative; WIDTH: 257px; FLOAT: left; HEIGHT: 44px; TOP: 46px; LEFT: 11px
}
#logo A {
	TEXT-INDENT: -9000px; WIDTH: 257px; DISPLAY: block; HEIGHT: 44px; FONT-SIZE: 1px
}
#shortcut {
	POSITION: relative; FLOAT: right; HEIGHT: 27px; COLOR: #387d97; FONT-SIZE: 11px; TOP: 9px
}
#shortcut LI {
	FLOAT: left
}
#shortcut A {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 11px; PADDING-RIGHT: 10px; BACKGROUND: url(/images/shortcut_divider_back.png) no-repeat; FLOAT: left; COLOR: white; PADDING-TOP: 4px
}
#shortcut A:hover {
	TEXT-DECORATION: underline
}
#shortcut #member {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
#nav {
	POSITION: relative; WIDTH: 700px; FLOAT: right; HEIGHT: 58px; TOP: 81px
}
#nav A {
	TEXT-INDENT: -9000px; WIDTH: 100px; DISPLAY: block; HEIGHT: 52px; FONT-SIZE: 1px
}
#nav #home {
	BACKGROUND-IMAGE: url(/images/dmeden_home.png); WIDTH: 100px; FLOAT: left; HEIGHT: 58px
}
#nav #home A:hover {
	BACKGROUND: url(/images/dmeden_home.png) 0px 116px
}
#nav .current#home {
	BACKGROUND: url(/images/dmeden_home.png) 0px 58px
}
#nav .current#home A:hover {
	BACKGROUND: url(/images/dmeden_home.png) 0px 58px
}
#nav #comic {
	BACKGROUND-IMAGE: url(/images/dmeden_comic.png); WIDTH: 100px; FLOAT: left; HEIGHT: 58px
}
#nav #comic A:hover {
	BACKGROUND: url(/images/dmeden_comic.png) 0px 116px
}
#nav .current#comic {
	BACKGROUND: url(/images/dmeden_comic.png) 0px 58px
}
#nav .current#comic A:hover {
	BACKGROUND: url(/images/dmeden_comic.png) 0px 58px
}
#nav #down {
	BACKGROUND-IMAGE: url(/images/dmeden_down.png); WIDTH: 100px; FLOAT: left; HEIGHT: 58px
}
#nav #down A:hover {
	BACKGROUND: url(/images/dmeden_down.png) 0px 116px
}
#nav .current#down {
	BACKGROUND: url(/images/dmeden_down.png) 0px 58px
}
#nav .current#down A:hover {
	BACKGROUND: url(/images/dmeden_down.png) 0px 58px
}
#nav #jp {
	BACKGROUND-IMAGE: url(/images/dmeden_jp.png); WIDTH: 100px; FLOAT: left; HEIGHT: 58px
}
#nav #jp A:hover {
	BACKGROUND: url(/images/dmeden_jp.png) 0px 116px
}
#nav .current#jp {
	BACKGROUND: url(/images/dmeden_jp.png) 0px 58px
}
#nav .current#jp A:hover {
	BACKGROUND: url(/images/dmeden_jp.png) 0px 58px
}
#nav #vip {
	BACKGROUND-IMAGE: url(/images/dmeden_vip.png); WIDTH: 100px; FLOAT: left; HEIGHT: 58px
}
#nav #vip A:hover {
	BACKGROUND: url(/images/dmeden_vip.png) 0px 116px
}
#nav .current#vip {
	BACKGROUND: url(/images/dmeden_vip.png) 0px 58px
}
#nav .current#vip A:hover {
	BACKGROUND: url(/images/dmeden_vip.png) 0px 58px
}
#area {
	POSITION: relative; PADDING-BOTTOM: 70px; WIDTH: 980px; BACKGROUND: url(/images/area_fill.png) repeat-y; FLOAT: left
}
#area2
{
	position: relative;
	padding-bottom: 70px;
	width: 980px;
	background-color: #ffffff;
}
#bar {
	POSITION: relative; WIDTH: 280px; FLOAT: left
}
#cart {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; WIDTH: 240px; PADDING-RIGHT: 20px; FONT: 12px "Trebuchet MS", Verdana; BACKGROUND: url(/images/cart_fill.png) repeat-y; FLOAT: left; PADDING-TOP: 14px
}
#cart P {
	WIDTH: 240px; FONT-FAMILY: "Lucida Grande", Lucida, Verdana, sans-serif; MARGIN-BOTTOM: 0px
}
#cart .item {
	PADDING-BOTTOM: 6px; WIDTH: 240px; BACKGROUND: url(/images/cart_item_fill.png) repeat-x 0px bottom; FLOAT: left; PADDING-TOP: 8px
}
#cart .items {
	PADDING-BOTTOM: 6px; WIDTH: 110px; BACKGROUND: url(/images/cart_item_fill.png) repeat-x 0px bottom; FLOAT: left; PADDING-TOP: 8px
}
#cart .item .name {
	FLOAT: left; MARGIN-RIGHT: 10px
}
#cart .item .price {
	TEXT-ALIGN: right; FLOAT: right; FONT-WEIGHT: bold; MARGIN-RIGHT: 4px
}
#cart #vip_discount {
	PADDING-BOTTOM: 8px; WIDTH: 240px; BACKGROUND: url(/images/item_back.png) no-repeat 0px bottom; FLOAT: left; COLOR: #e5511e; FONT-WEIGHT: bold; PADDING-TOP: 8px
}
#cart #vip_discount .left {
	FLOAT: left; MARGIN-LEFT: 4px; MARGIN-RIGHT: 10px
}
#cart #vip_discount .right {
	TEXT-ALIGN: right; FLOAT: right; MARGIN-RIGHT: 4px
}
#cart #total {
	MARGIN-TOP: 8px; WIDTH: 240px; FLOAT: left; FONT-WEIGHT: bold
}
#cart #total .left {
	FLOAT: left; MARGIN-LEFT: 4px; MARGIN-RIGHT: 10px
}
#cart #total .right {
	TEXT-ALIGN: right; FLOAT: right; MARGIN-RIGHT: 4px
}
#cart #updater {
	BACKGROUND-IMAGE: url(/images/cart_updater.gif); POSITION: relative; WIDTH: 20px; DISPLAY: none; FLOAT: left; HEIGHT: 20px; CLEAR: left; TOP: 16px; LEFT: 6px
}
#checkout {
	BACKGROUND-IMAGE: url(/images/button_so.png); MARGIN-TOP: 1px; WIDTH: 92px; FLOAT: right; HEIGHT: 26px
}
#checkout_disabled {
	BACKGROUND-IMAGE: url(/images/button_checkout_disabled.png); MARGIN-TOP: 1px; TEXT-INDENT: -9000px; WIDTH: 92px; FLOAT: right; HEIGHT: 26px; FONT-SIZE: 1px
}
A#checkout {
	TEXT-INDENT: -9000px; WIDTH: 92px; DISPLAY: block; HEIGHT: 26px; FONT-SIZE: 1px
}
A#checkout:hover {
	BACKGROUND: url(/images/button_so.png) 0px 26px
}
.remove {
	BACKGROUND-IMAGE: url(/images/icon_remove.png); MARGIN-TOP: -4px; WIDTH: 22px; FLOAT: left; HEIGHT: 22px; MARGIN-LEFT: 4px; MARGIN-RIGHT: 4px
}
A.remove {
	TEXT-INDENT: -9000px; WIDTH: 22px; DISPLAY: block; HEIGHT: 22px; FONT-SIZE: 1px
}
A.remove:hover {
	BACKGROUND: url(/images/icon_remove.png) 0px 44px
}
A.remove:active {
	BACKGROUND: url(/images/icon_remove.png) 0px 22px
}
#information {
	WIDTH: 240px;
	FLOAT: left;
	padding-right: 15px;
	padding-left: 15px;
}
#informationo {
	WIDTH: 240px;
	FLOAT: left;
	padding-right: 15px;
	padding-left: 15px;
}

.hotcomic {
	POSITION: relative; MARGIN-TOP: 4px; WIDTH: 240px; FLOAT: left; HEIGHT: 20px
}
.checkout#information {
	MARGIN-TOP: -6px; BACKGROUND: url(/images/checkout_fix.png) no-repeat
}
#creditcards {
	BACKGROUND-IMAGE: url(/images/creditcards.png); MARGIN-TOP: -6px; WIDTH: 210px; MARGIN-BOTTOM: 20px; HEIGHT: 22px
}
#bundle {
	BACKGROUND-IMAGE: url(/images/bundle_back.png); FLOAT: left
}
#bundle_alt {
	BACKGROUND-IMAGE: url(/images/bundle_back.png); MARGIN-TOP: 20px; FLOAT: left
}
#recent_products {
	FLOAT: left;
	margin-top: 20px;
	width: 240px;
}
#recent_products2 {
	FLOAT: left;
	margin-top: 20px;
	width: 240px;
}
#recent_vip {
	MARGIN-TOP: 14px; FLOAT: left
}
#future_vip {
	MARGIN-TOP: 0px; FLOAT: left
}
#payment_methods {
	MARGIN-TOP: 14px; FLOAT: left
}
#information .left {
	WIDTH: 110px; FLOAT: left; FONT-SIZE: 11px; MARGIN-RIGHT: 10px
}
#information .right {
	WIDTH: 110px; FLOAT: left; FONT-SIZE: 11px
}
#information .title {
	MARGIN-BOTTOM: 0px
}
#information .title_alt {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 0px
}
#information .line {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
#information .format {
	MARGIN-BOTTOM: 20px
}
#information .tags {
	MARGIN-BOTTOM: 20px; FONT-SIZE: 11px
}
#information Ul {
	MARGIN-BOTTOM: 4px
}

#information Li {
	POSITION: relative; MARGIN-TOP: 4px; WIDTH: 240px; BACKGROUND-POSITION: 20px 50%; MARGIN-BOTTOM: 6px; FLOAT: left; HEIGHT: 20px
}

#information Li span {
	WIDTH: 38px;
	HEIGHT: 20px;
	margin: 2px;
}
#information span {
	WIDTH: 38px;
	HEIGHT: 20px;
	margin: 2px;
}

#download_sample {
	BACKGROUND-IMAGE: url(/images/button_download_sample.png); POSITION: relative; WIDTH: 134px; MARGIN-BOTTOM: 20px; HEIGHT: 26px
}
A#download_sample {
	TEXT-INDENT: -9000px; WIDTH: 134px; DISPLAY: block; HEIGHT: 26px; FONT-SIZE: 1px
}
A#download_sample:hover {
	BACKGROUND: url(/images/button_download_sample.png) 0px 26px
}
#info {
	POSITION: relative; WIDTH: 640px; BOTTOM: 0px; FLOAT: left; TOP: 20px; RIGHT: 15px; LEFT: 30px
}
#page {
	POSITION: relative; WIDTH: 440px; BOTTOM: 0px; FLOAT: left; TOP: 20px; RIGHT: 15px; LEFT: 30px
}
#pages {
	POSITION: relative; WIDTH: 200px; BOTTOM: 0px; FLOAT: right; TOP: 20px; RIGHT: 60px; LEFT: 1px
}
#list {
	POSITION: relative; WIDTH: 640px; BOTTOM: 0px; FLOAT: left; TOP: 20px; RIGHT: 30px; LEFT: 30px
}
#doc {
	POSITION: relative; WIDTH: 440px; BOTTOM: 0px; FLOAT: left; TOP: 20px; RIGHT: 30px; LEFT: 30px
}
#doc OL {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 20px; FLOAT: left; PADDING-TOP: 0px
}
#doc P {
	MARGIN-BOTTOM: 20px
}
#doc H3 {
	MARGIN-BOTTOM: 6px
}
#doc H2 {
	MARGIN-BOTTOM: 10px; COLOR: #66747b; FONT-SIZE: 24px
}
#doc LI {
	LIST-STYLE-TYPE: decimal
}
.purple_box {
	BORDER-BOTTOM: #bdb0d5 1px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #e1d1f9; PADDING-LEFT: 20px; WIDTH: 400px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 30px; FLOAT: left; BORDER-TOP: #bdb0d5 1px solid; PADDING-TOP: 20px
}
.purple_box A {
	COLOR: #6b3f79
}
.purple_box P {
	MARGIN-BOTTOM: 0px
}
.purple_box IMG {
	FLOAT: left; MARGIN-RIGHT: 20px
}
.blue_box {
	BORDER-BOTTOM: #c0eaf9 1px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #d6f3fd; PADDING-LEFT: 20px; WIDTH: 400px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 30px; FLOAT: left; BORDER-TOP: #c0eaf9 1px solid; PADDING-TOP: 20px
}
.blue_box_alt {
	BORDER-BOTTOM: #c0eaf9 1px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #d6f3fd; PADDING-LEFT: 20px; WIDTH: 400px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 30px; FLOAT: left; PADDING-TOP: 20px
}
.blue_box #text {
	FONT-STYLE: italic; MARGIN-BOTTOM: 20px; FONT-SIZE: 14px
}
.blue_box #by {
	MARGIN-BOTTOM: 0px; FLOAT: right; FONT-SIZE: 14px
}
.grey_box {
	BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #fafafa; PADDING-LEFT: 20px; WIDTH: 400px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 30px; FLOAT: left; PADDING-TOP: 20px
}
.grey_box1 {
	BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #fafafa; PADDING-LEFT: 20px; WIDTH: 600px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 30px; FLOAT: left; PADDING-TOP: 20px
}
.items {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 30px; PADDING-LEFT: 0px; WIDTH: 440px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.items H3 {
	POSITION: relative; MARGIN-BOTTOM: 2px; TOP: 6px
}
.items .details {
	POSITION: relative; MARGIN-BOTTOM: 0px; FLOAT: left; FONT-SIZE: 11px; TOP: 6px
}
.items #end {
	Z-INDEX: 10; POSITION: relative; MARGIN-TOP: -1px; WIDTH: 440px; MARGIN-BOTTOM: 0px; FLOAT: left; BORDER-TOP: #e1e1e1 1px solid
}
.items .total {
	Z-INDEX: 10; POSITION: relative; TEXT-ALIGN: right; MARGIN-TOP: -1px; WIDTH: 430px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 0px; FLOAT: right; FONT-SIZE: 16px; BORDER-TOP: #e1e1e1 1px solid; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.items .kit {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 11px; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: white; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 420px; PADDING-RIGHT: 10px; BORDER-TOP-STYLE: none; FLOAT: left; BORDER-LEFT-STYLE: none; PADDING-TOP: 11px
}
.items .kit .small_preview {
	BORDER-BOTTOM: white 1px solid; BORDER-LEFT: white 1px solid; WIDTH: 48px; FLOAT: left; HEIGHT: 48px; BORDER-TOP: white 1px solid; MARGIN-RIGHT: 10px; BORDER-RIGHT: white 1px solid
}
.items .kit .download {
	POSITION: relative; FLOAT: right; TOP: -8px
}
.items .kit .price {
	POSITION: relative; TEXT-ALIGN: right; FLOAT: right; COLOR: #e5511e; FONT-SIZE: 14px; TOP: -4px; FONT-WEIGHT: bold; LEFT: 0px
}
.items .kit_alt {
	BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fafafa; PADDING-LEFT: 10px; WIDTH: 420px; PADDING-RIGHT: 10px; FLOAT: left; BORDER-TOP: #e1e1e1 1px solid; PADDING-TOP: 10px
}
.items .kit_alt .download {
	POSITION: relative; FLOAT: right; TOP: -8px
}
.items .kit_alt .small_preview {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; WIDTH: 48px; FLOAT: left; HEIGHT: 48px; BORDER-TOP: #e1e1e1 1px solid; MARGIN-RIGHT: 10px; BORDER-RIGHT: #e1e1e1 1px solid
}
.items .kit_alt .price {
	POSITION: relative; TEXT-ALIGN: right; FLOAT: right; COLOR: #e5511e; FONT-SIZE: 14px; TOP: -4px; FONT-WEIGHT: bold; LEFT: 0px
}
.grey_box .label {
	TEXT-ALIGN: right; MARGIN-TOP: 4px; WIDTH: 120px; MARGIN-BOTTOM: 0px; FLOAT: left; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px
}
.grey_box .button {
	MARGIN-TOP: 10px; FLOAT: right; MARGIN-RIGHT: 20px
}
.grey_box #remember {
	WIDTH: 248px; MARGIN-BOTTOM: 20px; FLOAT: left; MARGIN-LEFT: 130px
}
.grey_box #terms {
	WIDTH: 248px; MARGIN-BOTTOM: 20px; FLOAT: left; MARGIN-LEFT: 130px
}
.faq {
	MARGIN-TOP: -6px; WIDTH: 440px; MARGIN-BOTTOM: 30px; FLOAT: left
}
#contact {
	MARGIN-BOTTOM: 30px
}
#contact P {
	MARGIN-BOTTOM: 0px; FONT-WEIGHT: bold
}
.fieldso#so {
	BACKGROUND-IMAGE: url(/images/icon_so.png)
}

.field#id {
	BACKGROUND-IMAGE: url(/images/icon_id.png)
}
.field#tbUserIDP {
	BACKGROUND-IMAGE: url(/images/icon_id.png)
}

.field#Publogin1_txtUserID {
	BACKGROUND-IMAGE: url(/images/icon_id.png)
}

.field#name {
	BACKGROUND-IMAGE: url(/images/icon_name.png)
}
.field#tbUserNameP {
	BACKGROUND-IMAGE: url(/images/icon_name.png)
}


.field#email {
	BACKGROUND-IMAGE: url(/images/icon_email.png)
}
.field#tbEMailP {
	BACKGROUND-IMAGE: url(/images/icon_email.png)
}

.field#password {
	BACKGROUND-IMAGE: url(/images/icon_password.png)
}
.field#password_confirm {
	BACKGROUND-IMAGE: url(/images/icon_password.png)
}

.field#Publogin1_txtPsd {
	BACKGROUND-IMAGE: url(/images/icon_password.png)
}
.field#tbUserPsd1 {
	BACKGROUND-IMAGE: url(/images/icon_password.png)
}
.field#tbUserPsd2 {
	BACKGROUND-IMAGE: url(/images/icon_password.png)
}


.vip {
	BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #fafafa; PADDING-LEFT: 20px; WIDTH: 400px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 30px; FLOAT: left; BORDER-TOP: #e1e1e1 1px solid; PADDING-TOP: 20px
}
.vip#summary {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 440px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.vip_small {
	TEXT-ALIGN: center;
	WIDTH: 90px;
	MARGIN-BOTTOM: 0px;
	FLOAT: left;
	FONT-SIZE: 12px;
	padding: 10px;
	height: 140px;
}
.vip_small A {
	WIDTH: 90px; DISPLAY: block; COLOR: #14445e
}
.vip_small:hover {
	Z-INDEX: 2; BACKGROUND-COLOR: #ececec
}
.vip_small H3 {
	MARGIN-BOTTOM: 0px;
	FONT-SIZE: 12px;
}
.vip_small .small_preview {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; WIDTH: 88px; MARGIN-BOTTOM: 0px; HEIGHT: 120px; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid
}
.vip #large_preview {
	MARGIN-TOP: 20px;
	WIDTH: 640px;
	FLOAT: left
}
.vip#permalink .download {
	BACKGROUND-IMAGE: url(/images/button_download.png); POSITION: relative; WIDTH: 96px; FLOAT: right; HEIGHT: 26px; TOP: 0px; RIGHT: 10px
}
.vip#permalink .download_disabled {
	BACKGROUND-IMAGE: url(/images/button_download_disabled.png); POSITION: relative; TEXT-INDENT: -9000px; WIDTH: 96px; FLOAT: right; HEIGHT: 26px; FONT-SIZE: 1px; TOP: 0px; RIGHT: 10px
}
.vip#permalink {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; MARGIN-TOP: 0px; PADDING-LEFT: 0px; WIDTH: 440px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 30px; FLOAT: left; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
.vip P {
	POSITION: relative; MARGIN-BOTTOM: 6px; FLOAT: left; FONT-SIZE: 11px; TOP: 6px
}
.vip H3 {
	POSITION: relative; MARGIN-BOTTOM: 4px; TOP: 6px
}
.vip .medium_preview {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; WIDTH: 200px; FLOAT: left; HEIGHT: 80px; BORDER-TOP: #e1e1e1 1px solid; MARGIN-RIGHT: 20px; BORDER-RIGHT: #e1e1e1 1px solid
}
.download {
	BACKGROUND-IMAGE: url(/images/button_download.png); POSITION: relative; WIDTH: 96px; FLOAT: left; HEIGHT: 26px; TOP: 6px
}
.download_disabled {
	BACKGROUND-IMAGE: url(/images/button_download_disabled.png); POSITION: relative; TEXT-INDENT: -9000px; WIDTH: 96px; FLOAT: left; HEIGHT: 26px; FONT-SIZE: 1px; TOP: 6px
}
A.download {
	TEXT-INDENT: -9000px; WIDTH: 96px; DISPLAY: block; HEIGHT: 26px; FONT-SIZE: 1px
}
A.download:hover {
	BACKGROUND: url(/images/button_download.png) 0px 26px
}
#main_preview {
	MARGIN-BOTTOM: 20px
}
.product {
	WIDTH: 640px;
	MARGIN-BOTTOM: 30px;
	FLOAT: left
}
.product #permalink {
	WIDTH: 640px; MARGIN-BOTTOM: 30px; FLOAT: left
}
.product H3 {
	MARGIN-BOTTOM: 4px
}
.product P {
	MARGIN-BOTTOM: 0px
}
.product #about_style {
	MARGIN-TOP: 20px;
	WIDTH: 165px;
	MARGIN-BOTTOM: 20px;
	FLOAT: left;
	MARGIN-RIGHT: 10px;
	border: 1px dashed #367891;
}
.product #about_kit {
	MARGIN-TOP: 20px;
	WIDTH: 460px;
	MARGIN-BOTTOM: 20px;
	FLOAT: left
}

.product #about_kit LI{
	WIDTH: 450px;
	FLOAT: left;
	font-size: 12px;
	line-height: 22px;
}

.product #large_preview {
	WIDTH: 640px; FLOAT: left
}
.product #loading {
	MARGIN-TOP: 20px;
	WIDTH: 640px;
	FLOAT: left
}
.product .badge {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 440px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 40px; PADDING-TOP: 0px
}
.product .medium_preview {
	WIDTH: 470px; FLOAT: left; HEIGHT: 80px
}
.kit {
	Z-INDEX: 1;
	BORDER-BOTTOM: #e1e1e1 1px solid;
	POSITION: relative;
	PADDING-BOTTOM: 6px;
	BACKGROUND-COLOR: #fafafa;
	MARGIN-TOP: -1px;
	WIDTH: 640px;
	FLOAT: left;
	BORDER-TOP: #e1e1e1 1px solid;
	PADDING-TOP: 6px
}
.added.kit {
	Z-INDEX: 2; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-COLOR: #ececec; BORDER-TOP: #d4d4d4 1px solid
}
.purchased.kit {
	Z-INDEX: 3; BORDER-BOTTOM: #99e2fc 1px solid; BACKGROUND-COLOR: #d6f3fd; BORDER-TOP: #99e2fc 1px solid
}
.kit .download_alt {
	BACKGROUND-IMAGE: url(/images/button_download_alt.png); POSITION: relative; WIDTH: 96px; FLOAT: right; HEIGHT: 26px; RIGHT: 10px
}
.kit A.download_alt {
	TEXT-INDENT: -9000px; WIDTH: 96px; DISPLAY: block; HEIGHT: 26px; FONT-SIZE: 1px
}
.kit A.download_alt:hover {
	BACKGROUND: url(/images/button_download_alt.png) 0px 26px
}
.kit .name {
	POSITION: relative;
	FLOAT: left;
	TOP: 4px;
	FONT-WEIGHT: bold;
	MARGIN-RIGHT: 6px;
	LEFT: 10px;
	font-size: 14px;
}
.kit .price {
	POSITION: relative;
	FONT-FAMILY: "Trebuchet MS", Verdana;
	FLOAT: left;
	COLOR: #e5511e;
	TOP: 2px;
	FONT-WEIGHT: bold;
	LEFT: 20px;
	border: 1px outset #BCECFD;
}
.list_s {
	BACKGROUND-COLOR: #FFFFFF;
	margin-top: 10px;
}

.list_s LI
{
	float: left;
	margin-left: 0px;
	overflow: hidden;
	width: 200px;
	height: 20px;
	text-align: left;
	border-bottom: slategray 0px dashed;
	margin-bottom: 10px;
	margin-right: 11px;
	list-style-type: none;
	background:url(/images/com.gif) 0 0.6em no-repeat;
	line-height:2em;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-indent:17px;
}

.list_s LI A {
	COLOR: #14445e
}
.list_s LI A:visited {
	COLOR: #C1EEFF
}
.list_s LI A:hover {
	COLOR: #009bd5
}


.down_s {
	BACKGROUND-COLOR: #FFFFFF;
	margin-top: 10px;
}

.down_s LI
{
	float: left;
	margin-left: 0px;
	overflow: hidden;
	width: 200px;
	height: 18px;
	text-align: left;
	border-bottom: slategray 0px dashed;
	margin-bottom: 10px;
	margin-right: 11px;
	list-style-type: none;
	background:url(/images/dom.gif) 0 0.3em no-repeat;
	line-height:2em;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-indent:17px;
}

.down_s LI A {
	COLOR: #14445e
}
.down_s LI A:visited {
	COLOR: #FFBFAA
}
.down_s LI A:hover {
	COLOR: #FF3F00
}

.add_to_sc {
	BACKGROUND-IMAGE: url(/images/button_add_to_sc.png); POSITION: relative; WIDTH: 101px; FLOAT: right; HEIGHT: 26px; RIGHT: 10px
}
A.add_to_sc {
	TEXT-INDENT: -9000px; WIDTH: 101px; DISPLAY: block; HEIGHT: 26px; FONT-SIZE: 1px
}
A.add_to_sc:hover {
	BACKGROUND: url(/images/button_add_to_sc.png) 0px 26px
}
.add_to_tj {
	BACKGROUND-IMAGE: url(/images/button_add_to_tj.png); POSITION: relative; WIDTH: 101px; FLOAT: right; HEIGHT: 26px; RIGHT: 10px
}
A.add_to_tj {
	TEXT-INDENT: -9000px; WIDTH: 101px; DISPLAY: block; HEIGHT: 26px; FONT-SIZE: 1px
}
A.add_to_tj:hover {
	BACKGROUND: url(/images/button_add_to_tj.png) 0px 26px
}
.add_to_rss {
	BACKGROUND-IMAGE: url(/images/button_add_to_rss.png); POSITION: relative; WIDTH: 101px; FLOAT: right; HEIGHT: 26px; RIGHT: 10px
}
A.add_to_rss {
	TEXT-INDENT: -9000px; WIDTH: 101px; DISPLAY: block; HEIGHT: 26px; FONT-SIZE: 1px
}
A.add_to_rss:hover {
	BACKGROUND: url(/images/button_add_to_rss.png) 0px 26px
}
.add_to_down {
	BACKGROUND-IMAGE: url(/images/button_add_to_down.png); POSITION: relative; WIDTH: 101px; FLOAT: right; HEIGHT: 26px; RIGHT: 10px
}
A.add_to_down {
	TEXT-INDENT: -9000px; WIDTH: 101px; DISPLAY: block; HEIGHT: 26px; FONT-SIZE: 1px
}
A.add_to_down:hover {
	BACKGROUND: url(/images/button_add_to_down.png) 0px 26px
}
.remove_from_cart {
	BACKGROUND-IMAGE: url(/images/button_remove_from_cart.png); POSITION: relative; WIDTH: 135px; FLOAT: right; HEIGHT: 26px; RIGHT: 10px
}
A.remove_from_cart {
	TEXT-INDENT: -9000px; WIDTH: 135px; DISPLAY: block; HEIGHT: 26px; FONT-SIZE: 1px
}
A.remove_from_cart:hover {
	BACKGROUND: url(/images/button_remove_from_cart.png) 0px 52px
}
A.remove_from_cart:active {
	BACKGROUND: url(/images/button_remove_from_cart.png) 0px 26px
}
#foot {
	WIDTH: 1000px; BACKGROUND: url(/images/foot_back.png) no-repeat; FLOAT: left; HEIGHT: 80px; MARGIN-LEFT: -10px
}
#foot #copyright {
	TEXT-ALIGN: center;
	MARGIN-TOP: 30px;
	COLOR: #333;
	FONT-SIZE: 11px
}
#foot #copyright A {
	PADDING-LEFT: 8px;
	COLOR: #333
}
#foot #copyright A:hover {
	TEXT-DECORATION: underline
}
#make_payment_and_signup {
	BACKGROUND-IMAGE: url(/images/button_make_payment_and_signup.png); BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; TEXT-INDENT: -9000px; WIDTH: 154px; BORDER-TOP-STYLE: none; FLOAT: right; LETTER-SPACING: 1px; HEIGHT: 26px; FONT-SIZE: 1px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
#make_payment_and_signup:hover {
	BACKGROUND: url(/images/button_make_payment_and_signup.png) 0px 26px
}
#make_payment_and_download {
	BACKGROUND-IMAGE: url(/images/button_make_payment_and_download.png); BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; MARGIN-TOP: 10px; TEXT-INDENT: -9000px; WIDTH: 190px; BORDER-TOP-STYLE: none; FLOAT: right; LETTER-SPACING: 1px; HEIGHT: 26px; FONT-SIZE: 1px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
#make_payment_and_download:hover {
	BACKGROUND: url(/images/button_make_payment_and_download.png) 0px 26px
}
#login {
	BACKGROUND-IMAGE: url(/images/button_login.png); BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; TEXT-INDENT: -9000px; WIDTH: 73px; BORDER-TOP-STYLE: none; FLOAT: right; LETTER-SPACING: 1px; HEIGHT: 26px; FONT-SIZE: 1px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
.login {
	BACKGROUND-IMAGE: url(/images/button_login.png); BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; TEXT-INDENT: -9000px; WIDTH: 73px; BORDER-TOP-STYLE: none; FLOAT: right; LETTER-SPACING: 1px; HEIGHT: 26px; FONT-SIZE: 1px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}

#login:hover {
	BACKGROUND: url(/images/button_login.png) 0px 26px
}
#send_message {
	BACKGROUND-IMAGE: url(/images/button_send_message.png); BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; TEXT-INDENT: -9000px; WIDTH: 115px; BORDER-TOP-STYLE: none; FLOAT: right; LETTER-SPACING: 1px; HEIGHT: 26px; FONT-SIZE: 1px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
#send_message:hover {
	BACKGROUND: url(/images/button_send_message.png) 0px 26px
}
#save_changes {
	BACKGROUND-IMAGE: url(/images/button_save_changes.png); BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; MARGIN-TOP: 10px; TEXT-INDENT: -9000px; WIDTH: 113px; BORDER-TOP-STYLE: none; FLOAT: right; LETTER-SPACING: 1px; HEIGHT: 26px; FONT-SIZE: 1px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
#save_changes:hover {
	BACKGROUND: url(/images/button_save_changes.png) 0px 26px
}
#make_payment {
	BACKGROUND-IMAGE: url(/images/button_make_payment.png); BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; MARGIN-TOP: 20px; TEXT-INDENT: -9000px; WIDTH: 117px; BORDER-TOP-STYLE: none; FLOAT: right; LETTER-SPACING: 1px; HEIGHT: 26px; FONT-SIZE: 1px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
#make_payment:hover {
	BACKGROUND: url(/images/button_make_payment.png) 0px 26px
}
#home_img {
	MARGIN-TOP: 10px;
	WIDTH: 88px;
	FLOAT: none;
	MARGIN-RIGHT: 10px
}
#home_img H2 {
	PADDING-LEFT: 22px; MARGIN-BOTTOM: 6px; BACKGROUND: url(/images/icon_products.png) no-repeat 2px 90%
}
#home_new {
	WIDTH: 440px;
	FLOAT: left;
	MARGIN-RIGHT: 20px
}
#home_new H2 {
	PADDING-LEFT: 22px;
	MARGIN-BOTTOM: 6px;
	BACKGROUND: url(/images/icon_products.png) no-repeat 2px 90%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}

#about_products {
	MARGIN-TOP: 10px; WIDTH: 210px; FLOAT: left; MARGIN-RIGHT: 20px
}
#about_products H2 {
	PADDING-LEFT: 22px; MARGIN-BOTTOM: 6px; BACKGROUND: url(/images/icon_products.png) no-repeat 2px 50%
}
#about_ss {
	MARGIN-TOP: 10px; WIDTH: 190px; FLOAT: left; MARGIN-RIGHT: 0px
}
#about_ss H2 {
	PADDING-LEFT: 22px;
	MARGIN-BOTTOM: 6px;
	BACKGROUND: url(/images/icon_products.png) no-repeat 2px 50%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0EAF9;
}
#about_vip {
	MARGIN-TOP: 10px; WIDTH: 210px; FLOAT: left
}
#about_vip H2 {
	PADDING-LEFT: 22px; MARGIN-BOTTOM: 6px; BACKGROUND: url(/images/icon_vip.png) no-repeat 2px 50%
}
#about_support {
	MARGIN-TOP: 10px; WIDTH: 210px; MARGIN-BOTTOM: 20px; FLOAT: left; MARGIN-RIGHT: 20px
}
#about_support H2 {
	PADDING-LEFT: 22px; MARGIN-BOTTOM: 6px; BACKGROUND: url(/images/icon_support.png) no-repeat 2px 50%
}
#about_contact {
	MARGIN-TOP: 10px; WIDTH: 210px; MARGIN-BOTTOM: 20px; FLOAT: left
}
#about_contact H2 {
	PADDING-LEFT: 22px; MARGIN-BOTTOM: 6px; BACKGROUND: url(/images/icon_contact.png) no-repeat 2px 50%
}
.vip_box {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; WIDTH: 400px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 30px; BACKGROUND: url(/images/vip_box_back.png) black no-repeat; FLOAT: left; COLOR: white; PADDING-TOP: 20px
}
.vip_box P {
	MARGIN-BOTTOM: 0px
}
.vip_box A {
	COLOR: #b9e8f9
}
.vip_box A:visited {
	COLOR: #b9e8f9
}
.vip_box A:hover {
	COLOR: #cff2ff
}
.vip_box #signup_for_vip {
	BACKGROUND-IMAGE: url(/images/signup_for_vip_back.png); TEXT-INDENT: -9000px; WIDTH: 400px; MARGIN-BOTTOM: 8px; HEIGHT: 32px; FONT-SIZE: 1px
}
.vip_box #upgrade_to_vip {
	BACKGROUND-IMAGE: url(/images/upgrade_to_vip_back.png); TEXT-INDENT: -9000px; WIDTH: 400px; MARGIN-BOTTOM: 8px; HEIGHT: 32px; FONT-SIZE: 1px
}
.vip_box #advantage {
	MARGIN-BOTTOM: 20px
}
.vip_box #membership {
	MARGIN-BOTTOM: 0px; FONT-SIZE: 11px
}
.vip_box #teaser {
	BACKGROUND-IMAGE: url(/images/teaser.png); WIDTH: 400px; MARGIN-BOTTOM: 20px; HEIGHT: 32px
}
.badge
{
	background-image: url(/images/badge_back.png);
	padding-bottom: 9px;
	margin: 0px;
	padding-left: 10px;
	width: 420px;
	padding-right: 10px;
	font: 16px "Lucida Grande" , Lucida, Verdana, sans-serif;
	float: left;
	height: 20px;
	color: #09C;
	padding-top: 11px;
}
#send_instructions {
	BACKGROUND-IMAGE: url(/images/button_send_instructions.png); BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent; MARGIN-TOP: 10px; TEXT-INDENT: -9000px; WIDTH: 130px; BORDER-TOP-STYLE: none; FLOAT: right; LETTER-SPACING: 1px; HEIGHT: 26px; FONT-SIZE: 1px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
#send_instructions:hover {
	BACKGROUND: url(/images/button_send_instructions.png) 0px 26px
}
#presentation {
	MARGIN-TOP: 20px; FLOAT: left
}

.displayNone
{
	display:none;
}

div.csitemap
{
	clear: left;
	width: 630px;
	margin: auto;
	background-color: white;
	background-color: #FFF;
	text-align: left;
	
}

.alla{background:url(/images/sas.jpg); margin:0px 6px; overflow:auto;}
.allb{width:175px; float:left; overflow:hidden; background:url(/images/ico_d.gif) no-repeat 5px 7px; padding-left:20px; height:24px; line-height:24px;}
.allf{
	margin:5px 0;
	line-height:26px;
	height:26px;
	font-size:14px;
	letter-spacing:1px;
	padding:0 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #09C;
}
.aa{clear:both;}
.allj a,.allj a:link,.allj a:visited{color:#0086ca; text-decoration:none; font-size:12px; font-weight:100;}.allj a:hover{text-decoration:underline;}
.redzi{color:#c8000a;}
.flr{float:right;}

.tzbox{ padding:0px 5px 0px 15px}
.tzbox li{ border-bottom:1px dotted #b5e3ff; line-height:25px; height:25px}
.newbox li{ height:20px}
.newbox li em { background:#939393; color:#fff; position:absolute; width:13px; height:11px; font:bold 10px/11px Arial; letter-spacing:-1px; text-align:center; }
.floatright{ float:right; font-weight:normal; padding-right:8px; color:#666666;}
.numbig{ font-size:10px;letter-spacing:-1px;}
.tt_comic,.tt_chapter,.tt_comic0,.tt_chapter0{ display: inline-block; overflow:hidden; white-space:nowrap; word-break:break-all; word-wrap: break-word; text-overflow:ellipsis; }
.tt_comic{width: 210px;	text-indent: 20px;}
.tt_chapter{width: 120px;margin-left: 5px;text-align: right;}
.tt_comic0{ width: 80px  }
.tt_chapter0{width: 45px; margin-left: 5px; }

span.cPageChangeLink
{
	margin-left: 20px;
}

.snsp{
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.SNSPushContainerV3 {
	WIDTH: auto; BACKGROUND: url(/images/BackIconSet.gif) repeat-x; FLOAT: left; HEIGHT: 24px; CLEAR: both
}
.SNSPushEV3 {
	BORDER-BOTTOM: #858585 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(/images/BackIconSet.gif) no-repeat 0px -25px; FLOAT: left; HEIGHT: 22px; COLOR: #0161aa; FONT-SIZE: 12px; BORDER-TOP: #b7b7b7 1px solid
}
.SNSPushEEns {
	LINE-HEIGHT: 22px; PADDING-LEFT: 19px; PADDING-RIGHT: 6px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; FLOAT: left; HEIGHT: 100%; MARGIN-LEFT: 3px; VERTICAL-ALIGN: baseline; CURSOR: pointer
}
.SNSPushETV3 {
	WIDTH: 22px; BACKGROUND: url(/images/BackIconSet.gif) no-repeat 0px -48px; FLOAT: left; HEIGHT: 22px; CURSOR: pointer
}
.SNSPushExpandV3 {
	BORDER-BOTTOM: #37363b 1px solid; POSITION: absolute; BORDER-LEFT: #37363b 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(/images/transparent.gif) #ffffff; FLOAT: left; CLEAR: both; BORDER-RIGHT: #37363b 1px solid; PADDING-TOP: 4px; TOP: 0px; LEFT: -1000px
}
.SNSPushE2V3 {
	LINE-HEIGHT: 16px; PADDING-LEFT: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; FLOAT: left; HEIGHT: 16px; COLOR: #2b7bde; CLEAR: both; FONT-SIZE: 12px; VERTICAL-ALIGN: baseline; CURSOR: pointer
}



a.lklbe:link		{
	color: #FFFFFF;
	text-decoration: none
}
a.lklbe:visited		{
	color: #FFFFFF;
	text-decoration: underline
}
a.lkgn:link			{
	color: #0066CC;
	text-decoration: underline;
}
a.lkgn:visited		{
	color: #FF6600;
	text-decoration: underline;
}
a.lkgnb:link			{
	color: #000099;
	text-decoration: none;
}
a.lkgnb:visited		{
	color: #0033CC;
	text-decoration: underline;
}
a.cy:link		{color: #7777cc; text-decoration: underline}
a.cy:visited		{color: #7777cc; text-decoration: underline}
a.headTit:link{color:#0000cc;font-size:13px; line-height: 24px;}
a.headTit:visited{color:#0000cc;font-size:13px; line-height: 24px;}
.linka:hover {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	background-color: #0B4361;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.linka:link {
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	text-decoration: none;
}
.linka:visited {
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.linkb:hover {
	text-decoration: underline;
	color: #98B741;
	font-size: 14px;
	letter-spacing: 1px;
	padding-right: 6px;
	padding-left: 6px;
}
.linkb:link {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	padding-right: 6px;
	padding-left: 6px;
	font-weight: bold;
	letter-spacing: 1px;
}
.linkb:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-right: 6px;
	padding-left: 6px;
}
.linkc:hover {
	text-decoration: underline;
	color: #98B741;
	font-size: 12px;
}
.linkc:link {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
	padding-right: 5px;
	padding-left: 5px;
}
.linkc:visited {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}
.link01:link {
	color: #339933;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}
.link01:visited {
	color: #66CCCC;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}
.link01:hover {
	text-decoration: underline;
	color: #FF6633;
	font-size: 12px;
	font-weight: bold;
}







/*box*/
.box1{
	width:100%;
}
.box1 h3{margin:0px 1px;text-indent:10px;height:34px;color:#197FCC;background:url(/images/hbg.jpg) -0px -281px;}
.box1 h3 em{width:19px;height:34px;display:inline-block;background:url(/images/icobg.png) no-repeat -0px -60px;vertical-align:middle;margin-left:5px;}

.update{height:1320px;}
.update .date{display:inline-block;float:right;margin-right:5px;color:#999999;}
.update em a{display:inline-block;width:13px;height:13px;margin:0px 3px;background:url(/images/icobg.png) no-repeat -0px -105px;}
.update em a:hover{background:url(/images/icobg.png) no-repeat -20px -105px;}
.update ul{
	margin: 1px;
}
.update li{
	height:24px;
	line-height:24px;
	background:url(/images/hbg.jpg) -0px -399px;
	overflow:hidden;
}
.update ul .comicserial,.update ul .comicend{color:#999999;}
.mt10{margin-top:10px;}
img{border:0px;}
.mt10{margin-top:10px;}
.none{display:none;}
.hidden{ display:none}
.clear{clear:both;}
.site{width:960px;height:35px;line-height:35px;margin:0px auto;}
.datered{color:#C00;}
.lightbox{width:300px;background:#FFFFFF;border:1px solid #ccc;line-height:25px; top:20%; left:20%;}
.lightbox dt{background:#f4f4f4; padding:5px;}

#bottom_ads{
	padding:10px;
	text-align:center;
	height: 250px;
}
#bottom_ads a{margin:0 10px}
.ad{
	border:#dadada solid 1px;
	overflow:hidden;
	background:#fff;
	text-align:center;
	padding:2px
}
.b728x90{width:728px;height:90px}
.b300x250{
	margin:-15 5px;
	width:310px;
	height:250px;
	background:#ffffff
}
.cl{clear:both}
.m{vertical-align:middle}
.c{text-align:center}
.r{float:right}
.b{font-weight:640}
.l{float:left}
