<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta name="renderer" content="webkit" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="MobileOptimized" content="320" />
    <meta name="applicable-device" content="pc" />
    <meta
      http-equiv="mobile-agent"
      content="format=[wml|xhtml|html5]; url=https://m.manhuabei.com/search/"
    />
    <title>搜索结果：柯南 - 漫画呗</title>
    <meta
      name="keyword"
      content="漫画呗,漫画堆,进击的巨人漫画,进击的巨人133,海贼王漫画,海贼王991"
    />
    <meta
      name="description"
      content="漫画呗（原名 漫画堆，50漫画网）是更新漫画最快的漫画网。全网第一时间更新进击的巨人133，一拳超人179，海贼王991。进击的巨人漫画，一拳超人，海贼王漫画，鬼灭之刃漫画，斗破苍穹漫画，斗罗大陆漫画等热门日漫、国漫、美漫全网第一时间更新。漫画大全，好看的漫画一大堆！"
    />
    <meta name="csrf-param" content="_csrf" />
    <meta
      name="csrf-token"
      content="jgaPp8SxMc4Gtny_Yx0gTSDwwj0Qbg9NvNjZDBlXGC3URMTzrt9nu2SBLY8PVnALScStf3Y6ZwHEjaFjUjB0WA=="
    />

    <link href="/assets/c5ccdd8c/css/font-awesome.min.css" rel="stylesheet" />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"
      rel="stylesheet"
    />
    <link href="/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/assets/7a5b1151/css/common.css" rel="stylesheet" />
    <link href="/assets/7a5b1151/css/list.css" rel="stylesheet" />
    <script src="/js/phone.js"></script>
    <script>
      phone.check("https://m.manhuabei.com");
    </script>
  </head>
  <body class="clearfix">
    <!--[if lte IE 8]>
      <div class="ie8-warning-mask"></div>
      <div id="ie8-warning">
        <p>
          本页面采用HTML5+CSS3，您正在使用老版本 Internet Explorer
          ，在本页面的显示效果可能有差异。建议您升级到
          <a
            href="http://www.microsoft.com/china/windows/internet-explorer/"
            target="_blank"
            >Internet Explorer 11</a
          >
          或以下浏览器：
          <br />
          <a href="http://www.mozillaonline.com/"
            ><img
              src="https://f.mlxsc.com/images/etc/browser-firefox.png"
              alt=""
          /></a>
          /
          <a href="http://www.baidu.com/s?wd=google%E6%B5%8F%E8%A7%88%E5%99%A8"
            ><img
              src="https://f.mlxsc.com/images/etc/browser-chrome.png"
              alt=""
          /></a>
          /
          <a href="http://www.operachina.com/"
            ><img src="https://f.mlxsc.com/images/etc/browser-opera.png" alt=""
          /></a>
        </p>
      </div>
    <![endif]-->
    <!--全站头部导航 开始-->
    <div class="mainNav">
      <div class="mainNav_inner">
        <div id="w4" class="mainNav_in_l">
          <a href="https://xiaoshuogui.com" target="_blank">轻小说</a>
        </div>
        <div class="mainNav_in_r" id="mainNav_in_r">
          <ul class="user-login">
            <li id="login_id_li"><a id="login_id" href="/login/">登录</a>|</li>
            <li><a id="register_id" href="/register/">注册</a></li>
          </ul>
          <ul class="mainNav_dl user-action" id="mainNavDl">
            <li>
              <img class="usr_im" id="avatar" src="" />
              <a id="username" class="c_1" href="/member/" target="_blank"></a>
            </li>
            <li id="quit"><a href="/logout/">退出</a>|</li>
            <li>
              <a href="/member/unread/"
                >订阅<span class="c_2" id="update_notice">
                  (<em id="update_count"></em>)</span
                ></a
              >
              |
            </li>
            <li><a href="/member/" target="_blank">会员中心</a>|</li>
            <li id="bookshelf">
              <span class="span_icon"></span
              ><a class="c_1" href="/member/subscribe/">我的书架</a>
              <div class="book_wrap">
                <div class="book_open clearfix" id="bookOpen">
                  <ul class="book_open_tabs tabs" id="head_nav_tab">
                    <li class="font fl">
                      <a href="#subscribe-list" data-toggle="tab">我的订阅</a>
                    </li>
                    <li class="font fr active">
                      <a href="#history-list" data-toggle="tab">观看历史</a>
                    </li>
                  </ul>
                  <span class="top"></span>
                  <div class="head_nav_con tab-content" id="subscribe-list">
                    <ul class="book_con_li"></ul>
                  </div>
                  <div
                    class="head_nav_con tab-content active"
                    id="history-list"
                  >
                    <ul class="book_con_li">
                      <div class="no_content">你还没有观看过作品哦</div>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--全站头部导航 结束-->
    <!--head topTheme 开始-->
    <div class="topTheme autoHeight">
      <div class="topTheme_inner autoHeight">
        <div class="dmzj-logo">
          <a class="logo" href="/"
            ><img src="https://f.mlxsc.com/images/logo/dmzj.png" alt=""
          /></a>
        </div>

        <!--搜素 开始-->
        <div class="topTheme_in_search">
          <div class="topTheme_in_search_input">
            <div
              class="topTheme_search_input"
              tabindex="0"
              style="outline: none"
            >
              <input
                type="text"
                class="search_input_l"
                id="keywords"
                name="keywords"
                placeholder="请输入关键字..."
                autocomplete="off"
                style="color: rgb(153, 153, 153)"
              />
              <input
                type="button"
                class="search_input_r"
                id="btnSearch"
                value=""
              />
              <ul
                class="messagSjr autoHeight"
                style="display: none"
                id="search-results"
              ></ul>
            </div>
            <!--热门关键词-->
            <ul id="w6" class="sear_keyword">
              <li data-key="1802">
                <a href="https://www.manhuabei.com/manhua/yiquanchaoren/"
                  >一拳超人</a
                >
              </li>
              <li data-key="39">
                <a href="https://www.manhuabei.com/manhua/jinjidejuren/"
                  >进击的巨人</a
                >
              </li>
              <li data-key="856">
                <a href="https://www.manhuabei.com/manhua/haizeiwang/"
                  >海贼王</a
                >
              </li>
              <li data-key="3">
                <a href="https://www.manhuabei.com/manhua/doupocangqiong/"
                  >斗破苍穹</a
                >
              </li>
              <li data-key="55">
                <a href="https://www.manhuabei.com/manhua/guimiezhiren/"
                  >鬼灭之刃</a
                >
              </li>
              <li data-key="421">
                <a href="https://www.manhuabei.com/manhua/DrSTONE/"
                  >Dr.STONE 石纪元</a
                >
              </li>
              <li data-key="1668">
                <a href="https://www.manhuabei.com/manhua/borenchuan/"
                  >博人传</a
                >
              </li>
              <li data-key="2229">
                <a href="https://www.manhuabei.com/manhua/heisewuyecao/"
                  >黑色五叶草</a
                >
              </li>
              <li data-key="1844">
                <a href="https://www.manhuabei.com/manhua/yuedingdemenghuandao/"
                  >约定的梦幻岛</a
                >
              </li>
              <li data-key="71">
                <a href="https://www.manhuabei.com/manhua/bailianchengshen/"
                  >百炼成神</a
                >
              </li>
              <li data-key="1708">
                <a href="https://www.manhuabei.com/manhua/wodeyingxiongxueyuan/"
                  >我的英雄学院</a
                >
              </li>
              <li data-key="2237">
                <a href="https://www.manhuabei.com/manhua/wudengfendehuajia/"
                  >五等分的花嫁</a
                >
              </li>
            </ul>
            <!--热门关键词-->
          </div>
          <!--公告-->
          <div class="announce">
            <ul id="index-notice">
              <li data-key="17">
                <a href="/" target="_blank">骚年，来看漫画呗！</a>
              </li>
            </ul>
          </div>
          <!--公告 结束-->
        </div>
        <!--搜素 结束-->
      </div>
      <div class="topTheme_nav">
        <!--主导航栏 开始-->
        <div class="topTheme_nav_in">
          <!--导航栏-->
          <ul class="topTheme_nav_inl">
            <li><a class="" href="/">首页</a></li>
            <li><a class="" href="/list/riben/">日漫</a></li>
            <li><a class="" href="/list/dalu/">国漫</a></li>
            <li><a class="" href="/list/oumei/">美漫</a></li>
            <li><a class="" href="/list/lianzai/">连载</a></li>
            <li><a class="" href="/list/wanjie/">完结</a></li>
            <li><a class="" href="/update/">最近更新</a></li>
            <li><a class="" href="/rank/">排行榜</a></li>
            <li><a class="" href="/list/">全部漫画</a></li>
          </ul>
          <!--导航栏 结束-->
          <!--上传漫画-->
          <div class="topTheme_nav_inr">
            <a href="/member/index/" target="_blank">会员中心</a>
          </div>
          <!--上传漫画 结束-->
        </div>
      </div>
      <!--topTheme 结束-->
    </div>
    <!--head topTheme 结束-->
    <div class="wrap_mhlist wrap_search autoHeight">
      <div class="wrap_mhlist_l wrap_search_l con_left autoHeight">
        <div class="wrap_list_head">
          <div class="list_head_mid">
            <div class="head_title">
              <span class="head_ico_o"></span>

              <h2>搜索<em class="c_3">结果</em></h2>
              <span class="h_eng">SEARCH</span>
            </div>
            <span class="comi_num"
              >共找到<em class="c_6">5</em>条<a class="c_1" href="">“柯南 ”</a
              >相关的结果</span
            >
          </div>
        </div>
        <div class="wrap_list_con autoHeight">
          <div class="tab-con autoHeight">
            <div id="w0" class="search_con autoHeight">
              <ul class="list_con_li update_con autoHeight">
                <li class="list-comic" data-key="18237">
                  <a
                    class="image-link"
                    href="https://www.manhuabei.com/manhua/quwenquanba/"
                    title="去温泉吧"
                    ><img
                      src="https://f.mlxsc.com/images/cover/202008/159880424211818237b098f6d4.jpg"
                      width="135"
                      height="179"
                      alt=""
                      default="images/default/cover.png"
                  /></a>
                  <p>
                    <a
                      href="https://www.manhuabei.com/manhua/quwenquanba/"
                      title="去温泉吧"
                      >去温泉吧</a
                    >
                  </p>

                  <p class="auth">MICROMACRO</p>
                  <p class="newPage">短篇</p>
                </li>
                <li class="list-comic" data-key="15944">
                  <a
                    class="image-link"
                    href="https://www.manhuabei.com/manhua/AKAMOINSENTO/"
                    title="AKAMO IN SENTO"
                    ><img
                      src="https://f.mlxsc.com/images/cover/202007/15935830580911594494833b61.jpg"
                      width="135"
                      height="179"
                      alt=""
                      default="images/default/cover.png"
                  /></a>
                  <p>
                    <a
                      href="https://www.manhuabei.com/manhua/AKAMOINSENTO/"
                      title="AKAMO IN SENTO"
                      >AKAMO IN SENTO</a
                    >
                  </p>

                  <p class="auth">@hassuru,moto</p>
                  <p class="newPage">短篇</p>
                </li>
                <li class="list-comic" data-key="15477">
                  <a
                    class="image-link"
                    href="https://www.manhuabei.com/manhua/Itcouldntbebetter/"
                    title="It couldn&#039;t be better"
                    ><img
                      src="https://f.mlxsc.com/images/cover/202006/159155361748515477cc6673a5.jpg"
                      width="135"
                      height="179"
                      alt=""
                      default="images/default/cover.png"
                  /></a>
                  <p>
                    <a
                      href="https://www.manhuabei.com/manhua/Itcouldntbebetter/"
                      title="It couldn&#039;t be better"
                      >It couldn't be better</a
                    >
                  </p>

                  <p class="auth">野村（AMBER）</p>
                  <p class="newPage">02话</p>
                </li>
                <li class="list-comic" data-key="14500">
                  <a
                    class="image-link"
                    href="https://www.manhuabei.com/manhua/xuezhiwen/"
                    title="血之吻"
                    ><img
                      src="https://f.mlxsc.com/images/cover/202004/1587472761228145003ee639f9.jpg"
                      width="135"
                      height="179"
                      alt=""
                      default="images/default/cover.png"
                  /></a>
                  <p>
                    <a
                      href="https://www.manhuabei.com/manhua/xuezhiwen/"
                      title="血之吻"
                      >血之吻</a
                    >
                  </p>

                  <p class="auth">オコジョ</p>
                  <p class="newPage">短篇</p>
                </li>
                <li class="list-comic" data-key="11304">
                  <a
                    class="image-link"
                    href="https://www.manhuabei.com/manhua/mingzhentankenanjingchaxuexiaopian/"
                    title="名侦探柯南 警察学校篇"
                    ><img
                      src="https://f.mlxsc.com/images/cover/201910/1572346258009113045b8447ac.jpg"
                      width="135"
                      height="179"
                      alt=""
                      default="images/default/cover.png"
                  /></a>
                  <p>
                    <a
                      href="https://www.manhuabei.com/manhua/mingzhentankenanjingchaxuexiaopian/"
                      title="名侦探柯南 警察学校篇"
                      >名侦探柯南 警察学校篇</a
                    >
                  </p>

                  <p class="auth">新井隆广,青山刚昌</p>
                  <p class="newPage">03话</p>
                </li>
              </ul>
              <div class="bottom_page"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap_intro_r widthRight con_right">
        <div class="srear_r_histo search_hot autoHeight">
          <div class="srear_r_histo_h">
            <span class="sg"></span>

            <h2>热门<em class="c_3">搜索</em></h2>
            <span class="h_eng">HOT</span>
          </div>
          <div id="w1" class="search_hot_con autoHeight">
            <a
              class="hot_c_0"
              href="https://www.manhuabei.com/manhua/yiquanchaoren/"
              >一拳超人</a
            >
            <a
              class="hot_c_1"
              href="https://www.manhuabei.com/manhua/jinjidejuren/"
              >进击的巨人</a
            >
            <a
              class="hot_c_2"
              href="https://www.manhuabei.com/manhua/haizeiwang/"
              >海贼王</a
            >
            <a
              class="hot_c_3"
              href="https://www.manhuabei.com/manhua/doupocangqiong/"
              >斗破苍穹</a
            >
            <a
              class="hot_c_4"
              href="https://www.manhuabei.com/manhua/guimiezhiren/"
              >鬼灭之刃</a
            >
            <a class="hot_c_5" href="https://www.manhuabei.com/manhua/DrSTONE/"
              >Dr.STONE 石纪元</a
            >
            <a
              class="hot_c_6"
              href="https://www.manhuabei.com/manhua/borenchuan/"
              >博人传</a
            >
            <a
              class="hot_c_0"
              href="https://www.manhuabei.com/manhua/heisewuyecao/"
              >黑色五叶草</a
            >
            <a
              class="hot_c_1"
              href="https://www.manhuabei.com/manhua/yuedingdemenghuandao/"
              >约定的梦幻岛</a
            >
            <a
              class="hot_c_2"
              href="https://www.manhuabei.com/manhua/bailianchengshen/"
              >百炼成神</a
            >
            <a
              class="hot_c_3"
              href="https://www.manhuabei.com/manhua/wodeyingxiongxueyuan/"
              >我的英雄学院</a
            >
            <a
              class="hot_c_4"
              href="https://www.manhuabei.com/manhua/wudengfendehuajia/"
              >五等分的花嫁</a
            >
          </div>
        </div>

        <div class="intro_r_ad"></div>
        <div class="youn_mh_r widthEigRight">
          <span class="sg"></span>

          <h2>人气<em class="c_3">排行</em></h2>
          <ul class="rank_tabs tabs">
            <li class="active">
              <a
                class="tab-option"
                href="#popularity-click-week"
                data-hover="tab"
                >周</a
              >
            </li>
            <li>
              <a
                class="tab-option"
                href="#popularity-click-month"
                data-hover="tab"
                >月</a
              >
            </li>
          </ul>

          <div class="tab-content active" id="popularity-click-week">
            <ul id="w2" class="autoHeight">
              <li class="rank_tabs_first" title="总之就是非常可爱">
                <sub></sub><em>01</em>
                <a
                  href="https://www.manhuabei.com/manhua/zongzhijiushifeichangkeaiflymetothemoon/"
                  ><img
                    src="https://f.mlxsc.com/images/cover/201907/1564510507E55Dv1d9XsZ_CiI6.jpg"
                    width="70"
                    height="90"
                    alt=""
                    default="images/default/cover.png"
                /></a>
                <span class="rank_first_con">
                  <a
                    href="https://www.manhuabei.com/manhua/zongzhijiushifeichangkeaiflymetothemoon/"
                    title="总之就是非常可爱"
                    >总之就是非常可爱</a
                  >
                  <p>作者：畑健二郎</p>
                  <p>点击：5442</p>
                </span>
              </li>

              <li class="rank_tabs_li" title="一拳超人">
                <em class="c_5">2</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/yiquanchaoren/"
                    title="一拳超人"
                    >一拳超人</a
                  ></span
                >
                <span class="rank_tabs_sec">47299</span>
              </li>

              <li class="rank_tabs_li" title="斗罗大陆">
                <em class="c_5">3</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/douluodalu/"
                    title="斗罗大陆"
                    >斗罗大陆</a
                  ></span
                >
                <span class="rank_tabs_sec">19979</span>
              </li>

              <li class="rank_tabs_li" title="海贼王">
                <em class="c_5">4</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/haizeiwang/"
                    title="海贼王"
                    >海贼王</a
                  ></span
                >
                <span class="rank_tabs_sec">198500</span>
              </li>

              <li class="rank_tabs_li" title="博人传">
                <em class="">5</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/borenchuan/"
                    title="博人传"
                    >博人传</a
                  ></span
                >
                <span class="rank_tabs_sec">28748</span>
              </li>

              <li class="rank_tabs_li" title="一人之下">
                <em class="">6</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/yirenzhixia/"
                    title="一人之下"
                    >一人之下</a
                  ></span
                >
                <span class="rank_tabs_sec">17061</span>
              </li>

              <li class="rank_tabs_li" title="电锯人">
                <em class="">7</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/dianjuren/"
                    title="电锯人"
                    >电锯人</a
                  ></span
                >
                <span class="rank_tabs_sec">13407</span>
              </li>

              <li class="rank_tabs_li" title="百炼成神">
                <em class="">8</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/bailianchengshen/"
                    title="百炼成神"
                    >百炼成神</a
                  ></span
                >
                <span class="rank_tabs_sec">12773</span>
              </li>

              <li class="rank_tabs_li" title="辉夜大小姐想让我告白">
                <em class="">9</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/huiyedaxiaojiexiangrangwogaobai/"
                    title="辉夜大小姐想让我告白"
                    >辉夜大小姐想让我告白</a
                  ></span
                >
                <span class="rank_tabs_sec">11317</span>
              </li>

              <li class="rank_tabs_li" title="Dr.STONE 石纪元">
                <em class="">10</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/DrSTONE/"
                    title="Dr.STONE 石纪元"
                    >Dr.STONE 石纪元</a
                  ></span
                >
                <span class="rank_tabs_sec">9354</span>
              </li>
            </ul>
          </div>
          <div class="tab-content" id="popularity-click-month">
            <ul id="w3" class="autoHeight">
              <li class="rank_tabs_first" title="一拳超人">
                <sub></sub><em>01</em>
                <a href="https://www.manhuabei.com/manhua/yiquanchaoren/"
                  ><img
                    src="https://f.mlxsc.com/images/cover/201905/1558384189-Nm4NaFsOVxmHZf1.jpg"
                    width="70"
                    height="90"
                    alt=""
                    default="images/default/cover.png"
                /></a>
                <span class="rank_first_con">
                  <a
                    href="https://www.manhuabei.com/manhua/yiquanchaoren/"
                    title="一拳超人"
                    >一拳超人</a
                  >
                  <p>作者：村田雄介,ONE</p>
                  <p>点击：462849</p>
                </span>
              </li>

              <li class="rank_tabs_li" title="海贼王">
                <em class="c_5">2</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/haizeiwang/"
                    title="海贼王"
                    >海贼王</a
                  ></span
                >
                <span class="rank_tabs_sec">470958</span>
              </li>

              <li class="rank_tabs_li" title="一人之下">
                <em class="c_5">3</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/yirenzhixia/"
                    title="一人之下"
                    >一人之下</a
                  ></span
                >
                <span class="rank_tabs_sec">137534</span>
              </li>

              <li class="rank_tabs_li" title="百炼成神">
                <em class="c_5">4</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/bailianchengshen/"
                    title="百炼成神"
                    >百炼成神</a
                  ></span
                >
                <span class="rank_tabs_sec">115983</span>
              </li>

              <li class="rank_tabs_li" title="斗罗大陆">
                <em class="">5</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/douluodalu/"
                    title="斗罗大陆"
                    >斗罗大陆</a
                  ></span
                >
                <span class="rank_tabs_sec">135190</span>
              </li>

              <li class="rank_tabs_li" title="进击的巨人">
                <em class="">6</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/jinjidejuren/"
                    title="进击的巨人"
                    >进击的巨人</a
                  ></span
                >
                <span class="rank_tabs_sec">177962</span>
              </li>

              <li class="rank_tabs_li" title="电锯人">
                <em class="">7</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/dianjuren/"
                    title="电锯人"
                    >电锯人</a
                  ></span
                >
                <span class="rank_tabs_sec">126427</span>
              </li>

              <li class="rank_tabs_li" title="总之就是非常可爱">
                <em class="">8</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/zongzhijiushifeichangkeaiflymetothemoon/"
                    title="总之就是非常可爱"
                    >总之就是非常可爱</a
                  ></span
                >
                <span class="rank_tabs_sec">28956</span>
              </li>

              <li class="rank_tabs_li" title="Dr.STONE 石纪元">
                <em class="">9</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/DrSTONE/"
                    title="Dr.STONE 石纪元"
                    >Dr.STONE 石纪元</a
                  ></span
                >
                <span class="rank_tabs_sec">71583</span>
              </li>

              <li class="rank_tabs_li" title="入间同学入魔了">
                <em class="">10</em>
                <span class="rank_tabs_title"
                  ><a
                    href="https://www.manhuabei.com/manhua/rujiantongxuerumole/"
                    title="入间同学入魔了"
                    >入间同学入魔了</a
                  ></span
                >
                <span class="rank_tabs_sec">69847</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="foot">
      <div class="foot_con">
        <div id="w8" class="app_code"></div>
        <div id="w9" class="about">
          <div class="block-header clearfix">
            <div class="block-title"><span>关于</span></div>
            <div class="block-subtitle"><span></span></div>
          </div>
          <ul class="foot_con_list">
            <li data-key="43">
              <a href="/guanyu/us.html#a1" target="_blank">关于我们</a>
            </li>
            <li data-key="42">
              <a href="/guanyu/us.html#a3" target="_blank">免责声明</a>
            </li>
          </ul>
        </div>
        <div id="w10" class="throw">
          <div class="block-header clearfix">
            <div class="block-title"><span>合作</span></div>
            <div class="block-subtitle"><span></span></div>
          </div>
          <ul class="foot_con_list">
            <li data-key="44">
              <a href="https://www.50mh.com/guanyu/us.html#a2" target="_blank"
                >作者合作</a
              >
            </li>
          </ul>
        </div>
        <div class="copyr">
          <h3>漫画呗（原 漫画堆）</h3>
          <p>
            所有漫画均来自搜索和分享，以便漫画爱好者研究漫画技巧和构图方式。若喜欢，请购买正版书籍以支持作者！漫画版权归原作者所有。如有侵犯到您的权益，请联系我们，确认之后立即删除。本站不负任何相关责任！
            ©2020
            <a href="https://www.manhuabei.com" target="_blank"
              >漫画呗（漫画堆）</a
            >
            <span style="display: none"
              ><!-- Global site tag (gtag.js) - Google Analytics -->
              <script
                async
                src="https://www.googletagmanager.com/gtag/js?id=UA-154557870-1"
              ></script>
              <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                  dataLayer.push(arguments);
                }
                gtag("js", new Date());
                gtag("config", "UA-154557870-1");
              </script>
              <script>
                var cnzz_s_tag = document.createElement("script");
                cnzz_s_tag.type = "text/javascript";
                cnzz_s_tag.async = true;
                cnzz_s_tag.charset = "utf-8";
                cnzz_s_tag.src =
                  "https://w.cnzz.com/c.php?id=1278944425&async=1";
                var root_s = document.getElementsByTagName("script")[0];
                root_s.parentNode.insertBefore(cnzz_s_tag, root_s);
              </script>
              <script>
                var _hmt = _hmt || [];
                (function () {
                  var hm = document.createElement("script");
                  hm.src =
                    "https://hm.baidu.com/hm.js?0059b5e0311ca68e8eda1e34bfc6dcab";
                  var s = document.getElementsByTagName("script")[0];
                  s.parentNode.insertBefore(hm, s);
                })();
              </script></span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="side_public scroll-top" id="sidePublic">
      <a
        href="javascript:SinMH.scrollTo(0);"
        id="returnTop"
        class="return-top"
      ></a>
      <!--<a href="/app" class="ewm" target="_blank"></a>-->
      <span id="w11"
        ><a href="https://jinshuju.net/f/0dfCRw" target="_blank"
          ><img
            src="https://f.mlxsc.com/images/block/201904/1555432685QoSGl9m6Z6zKuL7c.jpg"
            width="34"
            height="34"
            alt="" /></a
      ></span>
    </div>
    <div
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="alert-modal"
      id="alert-modal"
    >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">提示信息</h4>
          </div>
          <div class="modal-body text-center">弹窗内容</div>
          <div class="modal-footer text-center" style="text-align: center">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              aria-label="Close"
            >
              确 &nbsp; 定
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="confirm-modal"
      id="confirm-modal"
    >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">提示信息</h4>
          </div>
          <div class="modal-body text-center">弹窗内容</div>
          <div class="modal-footer text-center" style="text-align: center">
            <button
              type="button"
              class="btn btn-primary btn-confirm"
              data-dismiss="modal"
              aria-label="Confirm"
            >
              确 &nbsp; 定
            </button>
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              aria-label="Close"
            >
              取 &nbsp; 消
            </button>
          </div>
        </div>
      </div>
    </div>

    <script id="search-template" type="text/html">
      <%if(items&&items.length>0){%> <%for(var i = 0; i
      <items.length;i++){ var item="items[i];" %>
        <li title="<%=item.title%>" data-url="<%= item.uri %>">
          <p class="pull-left">
            [<a href="/author/id-<%= item.author_id %>/"><%=item.author%></a>]
            <a href="<%= item.uri %>"><%=item.title%></a>
            [<span class="<%=item.serialise==1?'text-danger':'text-success'%>"
              ><%=item.serialise==1?'连载中':'已完结'%></span
            >]
          </p>
          <% if(item.last_chapter_id>0){ %>
          <span class="pull-right"
            >更新至：
            <a href="<%= item.uri+ item.last_chapter_id%>.html"
              ><%=item.last_chapter_name%></a
            ></span
          >
          <% } %>
        </li>
        <%}%> <%}else{%>
        <li>暂无搜索结果</li>
        <%}%>
      </items.length;i++){>
    </script>
    <script id="history-template" type="text/html">
      <%if(list&&list.length>0){%>
      <ul class="book_con_li">
        <%for(var i = 0; i < list.length;i++){ if(i>15) break; var item =
        list[i]; %>
        <li>
          <span class="tip"></span>
          <a
            class="book_title"
            title="<%=item.comic_name%>"
            href="<%=item.comic_url%>"
            target="_blank"
            ><%=item.comic_name%></a
          >
          <span class="book_l">看到</span>
          <a
            class="book_num"
            title="<%=item.read_chapter%>"
            href="<%=item.read_chapter_url%>"
            target="_blank"
            ><%=item.read_chapter%></a
          >
          <span
            class="book_clo"
            onclick="SinMH.removeHistory(<%=item.comic_id%>);"
            >X</span
          >
        </li>

        <%}%>
      </ul>
      <a class="book_con_bottom" href="/member/history/" target="_blank"
        >查看更多历史记录</a
      >
      <%}else{%>
      <div class="no_content">你还没有观看过作品哦</div>
      <%}%>
    </script>
    <script id="subscribe-template" type="text/html">
      <%if(list&&list.length>0){%>
      <ul class="book_con_li">
        <%for(var i = 0; i < list.length;i++){ if(i>15) break; var item =
        list[i]; %>
        <li>
          <span class="tip"></span>
          <a
            class="book_title wid"
            title="<%=item.comic_name%>"
            href="<%=item.comic_url%>"
            target="_blank"
            ><%=item.comic_name%></a
          >
          <% if(item.update_chapter!=null) { %>
          <a
            class="book_num"
            title="<%=item.update_chapter%>"
            href="<%=item.update_chapter_url%>"
            target="_blank"
            ><%=item.update_chapter%></a
          >
          <% } if(item.status == 0)%><span href="" class="subcribe_new"></span>
        </li>

        <%}%>
      </ul>
      <a class="book_con_bottom" href="/member/subscribe/" target="_blank"
        >查看更多订阅</a
      >
      <%}else{%>
      <div class="no_content">你还没有订阅过作品哦</div>
      <%}%>
    </script>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.1/jquery.js"></script>
    <script src="/assets/a4696427/yii.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdn.staticfile.org/toastr.js/2.1.2/toastr.min.js"></script>
    <script src="/plugins/baiduTemplate.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/plugins/jquery/jquery.image.js"></script>
    <script src="https://cdn.staticfile.org/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script src="/plugins/jquery/jquery.hotkeys.js"></script>
    <script src="/plugins/bootstrap/bootstrap.hover.dropdown.js"></script>
    <script src="/plugins/bootstrap/bootstrap.hover.tab.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/common.js"></script>
    <script src="/assets/7a5b1151/js/theme.js"></script>
    <script>
      jQuery(function ($) {
        SinMH.init();
        SinTheme.init();
        $("img").lazyload();
      });
    </script>
  </body>
</html>
